@import "../../styles/abstracts";

.root {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.logo {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  fill: color("white");
}

.nav {
  display: flex;
  justify-content: flex-end;
}
