@import "../../styles/abstracts";

.root {
  --size: #{rem(40)};

  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--size);
  padding-left: var(--size);
  padding-right: var(--size);
  padding-top: var(--size);
  z-index: 10;
}

.logo {
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  fill: color("white");
}

.nav {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.nav a {
  margin-left: var(--size);
}

@include media(">=medium") {
  .root {
    --size: #{rem(50)};
  }
}
