@import "../abstracts";

.root {
  @include page-spacing;
}

.header {
  @include block-spacing;

  display: flex;
  justify-content: center;
  padding-left: spacing("small");
  padding-right: spacing("small");
}

.image,
.title {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.image {
  height: 100vh;
}

.title {
  @include glitch;

  margin-bottom: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  @include container;
}
