@import "../abstracts";

.root {
  @include page-spacing;
}

.header {
  @include block-spacing;
  @include container;

  display: flex;
  justify-content: center;
}

.title {
  @include glitch;

  margin-bottom: 0;
}

.text {
  @include container;
  @include paragraph-large;

  padding-left: spacing("small");
  padding-right: spacing("small");
}
