@import "../abstracts";

.root {
  @include page-spacing;
}

.header {
  @include block-spacing;

  padding-left: spacing("small");
  padding-right: spacing("small");
  text-align: center;
}

.title {
  @include container;
}

.projects {
  @include block-spacing;
  @include container;
  @include fluid-grid;

  gap: $grid-gutter;
}

.project {
  overflow: hidden;
  background-color: rgba(color("primary"), 1);
  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: linear;

  &:hover {
    background-color: transparent;
  }

  img {
    opacity: 0.75;
    transition-property: opacity, transform;
    transition-duration: $transition-duration;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &:hover img {
    transform: scale(1.02);
    opacity: 1;
    transition-duration: $transition-duration--slow;
  }
}
