@import "../../styles/abstracts";

.main {
  width: 100%;
  min-height: -webkit-fill-available;
  min-height: stretch;
}

.vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  transform-origin: center center;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 100vh;
  position: sticky;
  top: 0;
  line-height: rem(50);
  white-space: nowrap;
  font-weight: bold;
  z-index: 1;
}

@include media("<87.5em") {
  .vertical {
    display: none;
  }
}

// @include media(">=medium") {
//   .main {
//     padding-top: rem(150);
//   }
// }

@include media(">=87.5em") {
  .main {
    display: grid;
    grid-template-columns: rem(150) 1fr;
  }
}
