$root-size: 16;

$breakpoints: (
  "small": 30em,
  "medium": 48em,
  "large": 64em,
  "xlarge": 90em,
);

$grid-columns: 12;
$grid-width: 80rem;
$grid-gutter: 1px;

$colors: (
  "black": (
    "base": #000000,
  ),
  "white": (
    "base": #ffffff,
  ),
);

$spacings: (
  "xsmall": 12,
  "small": 24,
  "medium": 48,
  "large": 96,
  "xlarge": 192,
);
