$root-size: 16;

$breakpoints: (
  "small": 30em,
  "medium": 48em,
  "large": 64em,
  "xlarge": 90em,
);

$grid-columns: 12;
$grid-width: 80rem;
$grid-gutter: 1px;

$colors: (
  "black": (
    "base": #111111,
  ),
  "white": (
    "base": #ffffff,
  ),
);

$spacings: (
  "xsmall": 10,
  "small": 25,
  "medium": 50,
  "large": 100,
  "xlarge": 150,
  "xxlarge": 300,
);
