@mixin grid($columns: 2) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin fluid-grid($min: 30rem, $max: 1fr, $fill: auto-fill) {
  display: grid;

  @include media(">=small") {
    grid-template-columns: repeat($fill, minmax($min, $max));
  }
}

@mixin gutter($gutter: $grid-gutter) {
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin container($container-width: $grid-width) {
  width: 100%;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;

  @include media(">=medium") {
    padding-left: spacing("medium");
    padding-right: spacing("medium");
  }
}

@mixin col($size, $gutter: $grid-gutter) {
  @include gutter($gutter);

  max-width: ($size / $grid-columns) * 100%;
}

@mixin fluid-type($minSize, $maxSize, $minWidth, $maxWidth) {
  $minS: rem($minSize);
  $maxS: rem($maxSize);
  $minW: rem(bp($minWidth));
  $maxW: rem(bp($maxWidth));

  font-size: $minS;

  @media screen and (min-width: $minW) {
    font-size: calc(
      #{$minS} + #{strip-unit($maxS - $minS)} * (100vw - #{$minW}) / #{strip-unit(
          $maxW - $minW
        )}
    );
  }

  @media screen and (min-width: $maxW) {
    font-size: $maxS;
  }
}

@mixin block-spacing {
  margin-top: spacing("large");

  @include media(">=medium") {
    margin-top: spacing("xlarge");
  }

  @include media(">=large") {
    margin-top: spacing("xlarge");
  }
}

@mixin page-spacing {
  padding-top: spacing("large");
  padding-bottom: spacing("large");

  @include media(">=large") {
    padding-top: spacing("xlarge");
    padding-bottom: spacing("xlarge");
  }
}

@mixin h1 {
  @include fluid-type(40, 120, 375, $grid-width);

  letter-spacing: -0.01em;
  line-height: 1.1;
}

@mixin h2 {
  @include fluid-type(30, 90, 375, $grid-width);

  letter-spacing: -0.01em;
}

@mixin h3 {
  @include fluid-type(24, 60, 375, $grid-width);

  letter-spacing: -0.01em;
}

@mixin h4 {
  font-size: rem(24);

  @include media(">=medium") {
    font-size: rem(28);
  }
}

@mixin h5 {
  font-size: rem(20);

  @include media(">=medium") {
    font-size: rem(24);
  }
}

@mixin h6 {
  font-size: 1rem;
}

@mixin paragraph-large {
  font-size: rem(18);

  @include media(">=medium") {
    font-size: rem(20);
  }
}

@mixin glitch {
  top: 0;
  left: -$glitch-offset;
  position: relative;
  white-space: nowrap;
  animation: skew 2s infinite;

  &:after,
  &:before {
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: screen;
  }

  &:after {
    top: 0;
    left: $glitch-offset;
    color: red;
    animation: glitch 1.5s infinite;
  }

  &:before {
    top: -0.4 * $glitch-offset;
    left: 0.6 * $glitch-offset;
    color: limegreen;
    animation: glitch 1.5s infinite reverse;
  }
}
