@mixin grid($columns: 2) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin fluid-grid($min: 30rem, $max: 1fr, $fill: auto-fill) {
  display: grid;

  @include media(">=small") {
    grid-template-columns: repeat($fill, minmax($min, $max));
  }
}

@mixin gutter($gutter: $grid-gutter) {
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin container($container-width: $grid-width) {
  width: 100%;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin col($size, $gutter: $grid-gutter) {
  @include gutter($gutter);

  max-width: ($size / $grid-columns) * 100%;
}

@mixin fluid-type($minSize, $maxSize, $minWidth, $maxWidth) {
  $minS: rem($minSize);
  $maxS: rem($maxSize);
  $minW: rem(bp($minWidth));
  $maxW: rem(bp($maxWidth));

  font-size: $minS;

  @media screen and (min-width: $minW) {
    font-size: calc(
      #{$minS} + #{strip-unit($maxS - $minS)} * (100vw - #{$minW}) / #{strip-unit(
          $maxW - $minW
        )}
    );
  }

  @media screen and (min-width: $maxW) {
    font-size: $maxS;
  }
}

@mixin block-spacing {
  margin-top: spacing("medium");

  @include media(">=medium") {
    margin-top: spacing("large");
  }

  @include media(">=large") {
    margin-top: spacing("xlarge");
  }
}

@mixin page-spacing {
  padding-top: spacing("large");
  padding-bottom: spacing("large");

  @include media(">=large") {
    padding-top: spacing("xlarge");
    padding-bottom: spacing("xlarge");
  }
}

@mixin h1 {
  @include fluid-type(40, 80, 375, 2560);

  line-height: 1.1;
}

@mixin h2 {
  @include fluid-type(30, 50, 375, 2560);
}

@mixin h3 {
  @include fluid-type(24, 30, 375, 2560);
}

@mixin h4 {
  font-size: rem(20);

  @include media(">=medium") {
    font-size: rem(24);
  }
}

@mixin h5 {
  font-size: rem(18);

  @include media(">=medium") {
    font-size: rem(20);
  }
}

@mixin h6 {
  font-size: 1rem;
}

@mixin paragraph-large {
  font-size: rem(18);

  @include media(">=medium") {
    font-size: rem(20);
  }
}
